:root {
  --black: #1d1f1c;
  --white: #f7f7f7da;
  --off-white: rgba(247, 247, 247, 0.753);
  --yellow: #eeb741;
  --blue: #5bbbe1;
}

body {
  /* background-image: linear-gradient(to bottom right, #0A2424 60%, #28313d, #395b5b);
  height: 100vh; */
  /* background-color: #7f797e; */
  /* background-color: #6c676b; */
  background-color: hsl(285, 6%, 14%);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 30px;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(243, 187, 83, 0.937);
}
#nav a {
  font-weight: 500;
  font-family: monospace;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: lowercase;
  color: var(--white);
}

#nav a.router-link-exact-active {
  color: var(--blue);
}

@font-face {
  font-family: "Orange_Kid";
  src: local("Orange_Kid"),
    url(../fonts/orange_kid.ttf) format("truetype");
}
