:root {
  --black: #1d1f1c;
  --white: #f7f7f7da;
  --off-white: rgba(247, 247, 247, 0.753);
  --yellow: #eeb741;
  --blue: #5bbbe1;
}

body {
  /* background-image: linear-gradient(to bottom right, #0A2424 60%, #28313d, #395b5b);
  height: 100vh; */
  /* background-color: #7f797e; */
  /* background-color: #6c676b; */
  /* background-color: hsl(285, 6%, 14%); */
  background-color: #313030;
}

#app {
  font-family: "Poppins-Regular", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 30px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #e25250;
}
#nav a {
  font-weight: 500;
  font-family: "Poppins-Regular";
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: lowercase;
  color: #ecebeb;
}

#nav a:hover {
  color: #519cba;
  font-weight: 600;
}

#nav a.router-link-exact-active {
  color: #519cba;
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url(../fonts/Poppins-Regular.ttf) format("truetype");
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin: .5em;
}
::-webkit-scrollbar-thumb {
  background-color: #242323c6;
  border-radius: 100vw;
}

